body{
    
    background-size: cover;
    background-color: #CAD5E2;
    /* background-size: 300px; */
    /* background-image: url("https://images.unsplash.com/photo-1575719314727-64ce0e7a03d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwbW9ua3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
}
h1 { 
    font-size: 40px;
    color: #EDBF69;
}
.mal2{
    margin: 20px;
    padding:0px 0px 0px 43%;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  </
.ma1{
    /* margin: 20px; */
    /* padding:0px 0px 0px 40%; */
    padding: auto ;
    background-color: aquamarine;
    border-width: 25px;
    box-sizing: border-box;
    width:50%;
    height: 15px;
    background-image: url("https://i.pinimg.com/originals/1d/d7/af/1dd7af7ad0fb3577f59449f3ef647dc8.jpg");
    /* padding: 24px; */
    /* margin: 95px;
    margin: auto; */
    /* text-align: center; */
    
    /* left: 50%;
    top: 50%;position: absolute;
    height: 200px;
    margin-top: -100px /* half of you height 
    width: 400px;
    margin-left: -200px half of you width */
}
.stll{
    font-size: 35px;
    color: rgba(105, 0, 128, 0.84);
}
p{
    color:#E83A59;
}
ul{
    list-style-type: circle;
}
mal3{
    max-width: 45%;  
    height: auto; 
    filter: blur(4px);
}
hr{
/*height: 80px;
  width: 120px;
  margin: 20px;
  padding: 20px;
  display: inline-block; */
  background-color: palegreen;
  border-width: 5px;
  box-sizing: border-box;
  height: 12px;

}

img{
    max-width: 45%;  
    height: auto; 
    filter: blur(4px);
}
